body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif; 
    background: linear-gradient(to bottom right, #ffcc00, #ff0000); 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover;
    color: black; 
    text-align: center; 
}
